﻿@{
    ViewData["Title"] = "Index";
}

<h2>Indicators</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Indicator" asp-action="ResidueByPopulation">Residue by population</a></li>
    </ul>
</div>
