﻿
@model Dictionary<eResidueType, double>

@{
    ViewData["Title"] = "ResidueByPopulation";
}

<h2>Residue by population</h2>

<form action="ResidueByPopulation" method="post">

    <div class="form-group">
        <label class="control-label">From:</label>
        <input class="form-control" type="date" data-val="true" data-val-required="The Date field is required." id="from" name="from" value="">
        <span class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Until:</label>
        <input class="form-control" type="date" data-val="true" data-val-required="The Date field is required." id="until" name="until" value="">
        <span class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default">
    </div>

</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Residue Type</th>
                <th scope="col">Per capita amount</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var residue in Model)
            {
                <tr>
                    <td>@residue.Key</td>
                    <td>@residue.Value kg</td>

                </tr>
            }

        </tbody>
    </table>
}
