﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5">
    <div class="form-group">


        <form asp-action="SelectCity" method="get">
            <label class="control-label">
                Select a city to generate or change your data regarding waste
            </label>
            <select class="form-control" id="cityID" name="cityID">
                @{

                    if (ViewBag.SelectCity == null)
                    {
                        <option value="0">Choose a city</option>
                    }

                    foreach (var city in ViewBag.Cities)
                    {

                        if (city.ID == ViewBag.SelectedCityID)
                        {
                            <option value="@city.ID" selected="selected">@city.Name</option>
                        }

                        else
                        {
                            <option value="@city.ID">@city.Name</option>
                        }

                    }
                }

            </select>
            <span class="text-danger"></span>

            <button type="submit" class=" mt-3 btn btn-primary">Select</button>
        </form>

    </div>
</div>

