﻿@model WasteManager.Models.Residue

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Residue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="0">Home</option>
                    <option value="1">Industrial</option>
                    <option value="2">Hospital</option>
                    <option value="3">Construction</option>
                    <option value="4">Comercial</option>
                    <option value="5">Radioactive</option>
                    <option value="6">Agricultural</option>
                    <option value="7">Public</option>
                    <option value="8">Transportation Place</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recyclability" class="control-label"></label>
                <select asp-for="Recyclability" class="form-control">
                    <option value="0">Organic</option>
                    <option value="1">Selective</option>
                    <option value="2">Scrap</option>
                </select>
                <span asp-validation-for="Recyclability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" asp-format="{0:dd/MM/yyyy}" class="control-label"></label>
                <input asp-for="Date" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

