﻿@model WasteManager.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServedPopulation" class="control-label"></label>
                <input asp-for="ServedPopulation" class="form-control" />
                <span asp-validation-for="ServedPopulation" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Residue" class="control-label"></label>
                <select asp-for="ResidueID" class="form-control">

                    <option value="@null">None</option>

                    @{
                        if (ViewBag.Residues != null)
                        {
                            foreach (var residue in ViewBag.Residues)
                            {
                                <option value="@residue.ID">@residue.Type , @residue.Recyclability, @residue.Quantity</option>
                            }
                        }

                    }
                </select>
                <span asp-validation-for="Residue" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

