﻿@model IEnumerable<WasteManager.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h2>Services</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServedPopulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residue.Recyclability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residue.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residue.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServedPopulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residue.Recyclability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residue.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residue.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
